<h3>Friends</h3>

<div class="search-area">
  <h5>Search friends</h5>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="row">
      <div class="col-9">
        <div class="input-group mb-3">
          <%= text_field_tag :friend, params[:friend], placeholder: 'Enter name', autofocus: true, class: 'form-control' %>
          <div class="input-group-append">
            <%= button_tag type: :submit, class: 'input-group-text' do %>
              <%= fa_icon "search" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="friend-results">

</div>

<% if !@friends.empty? %>
  <%= render 'friends/list' %>
<% end %>